body {

    font-family: 'Poppins', sans-serif;


    margin: 0;
}

h1 {

    font-size: 50px;
}


.flexible-container {

    display: flex;
    margin-bottom: 150px;
}

.banner {


    background-image: url(images/donation13.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);



}




.white-text {


    color: white;
}

.text-center {


    text-align: center;

}


h2 {

    padding: 10px;
}

.padding1 {


    padding-left: 10px;
    padding-right: 10px;
}

.dbutton {



    display: flex;
    justify-content: space-evenly;
    font-size: 20px;

    margin: 20px 20%;


}

.dbutton-button {

    padding-left: 30px;
    padding-right: 30px;
    height: 150px;
    width: 150px;
    border: 0px solid green;
    font-size: 20px;

}



.bangla {



    padding-left: 30px;
    padding-right: 30px;
    height: 150px;
    width: 150px;
    font-size: 20px;

    border: 5px solid #FF8484;

    color: #FF8484;

    background-color: #FFEEEE;
}


.link-button {



    text-decoration: none;
    background-color: green;
    color: white;
    padding: 10px 10px;
    border-radius: 30%;




}

#color2 {


    border-left: 7px solid green;
}

.section-3-item {


    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px darkgrey;


}

.section-3-1-item {


    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px darkgrey;
    background-color: #EDF5F6;


}


.section-3-2-item {


    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px darkgrey;
    background-color: #FFEEEE;


}

.section-3-3-item {


    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px darkgrey;
    background-color: #FFF4D6;


}


.quarter-width {


    width: 25%;
    padding-left: 2%;

}

.half-width {


    width: 50%;
    padding-left: 8%;

}


.sub {





    background-color: #FFF4D6;

    padding: 25px;
    border: 5px solid black;
    margin: 0px 25%;
    height: 50px;
    border-radius: 15px;
    text-align: center;

}

.sub input {


    text-align: center;

    background-color: #D9D9D9;
    font-size: 20px;
    text-align: left;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sub button {

    font-size: 20x;
    color: #EDF5F6;
    height: 40px;
    background-color: #FF5959;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.footer {





    background-color: black;
    width: 100%;
    padding: 25px;
    border: 5px solid green;
    margin: 25px;
    border-radius: 15px;
    text-align: center;

}


footer h1 {


    font-family: lobster;

    color: #F85657;
}

.button {
    border-radius: 2px;
}